h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
h2{
    font-size: medium;
    display: flex;
    justify-content: right;
    
}

.formsWrapper{
   display: grid;
   justify-content: center;

}
.innerWrapper{
    padding: 10px;
    margin: 10px;
    background: rgb(90, 89, 89);
    color:whitesmoke;
    border-radius: 10px;
    border:inset 7px rgb(133, 131, 131);
    box-shadow: 5px 5px 5px;
}
.forms{
   font-size: 35px;
    
}

.input{
    height: 20px;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    background-color: rgb(216, 215, 215);
}
.submit{
 border: 2px;
 width: 100px;
 height: 30px;
 border-radius: 20px;
 box-shadow: 2px 2px 2px black;
 
}
.submit:hover{
    background-color: rgb(124, 123, 123);
    cursor: pointer;
}
.submit:active{
    box-shadow: inset 2px 2px 2px black;
    

}